@media (prefers-color-scheme: light)
{
    :root {
        --background-color: #ffffff;
        --color: #000000;
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark)
{
    :root {
        --background-color: #161616;
        --color: #ffffff;
        color-scheme: dark;
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

span {
    background-color: #006AFF;
    border-radius: 1rem;
    padding: 0.5rem;
}