@media (prefers-color-scheme: light)
{
    :root {
        --background-color: #ffffff;
        --input-box-color: #dddddd;
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark)
{
    :root {
        --background-color: #161616;
        --input-box-color: #303030;
        color-scheme: dark;
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-size: large;
}

.message {
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #006AFF;
    max-width: fit-content;
}

#message-input {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
}

span {
    color: white;
}

#message-input > input {
    margin-right: 0.25rem;
    width: 66vw;
    background-color: var(--input-box-color);
    outline: none;
    padding-left: 0.5rem;
}

#message-input > button {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #006AFF;
}

#message-input > * {
    border-radius: 5px;
    font-size: 1.5rem;
}